/*Colors*/

$primary-color: #431b00;
$secondary-color: #1a110b;
$active-color: #592b02;
$ascent-1-color: #a9814f;
$ascent-2-color: #F39C12;
$ascent-3-color: #C0392B;
$ascent-4-color: #1D2A37;
$ascent-5-color: #131C24;
$dark-green:#0e4f1d;