//Font
$body-font-size: 14px;
$import-google-fonts: true;
$font-url: 'https://fonts.googleapis.com/css?family=Muli:400,400i,700';
$font-name: 'Muli';
$font-family: $font-name, 'Helvetica Neue', Arial, Helvetica, sans-serif;